.about{
    display: flex;
    gap: 100px;
}

.abt-textcontainer{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.abt-subtitle{
    color: var(--btn);
}
.abt-title{
    font-size: 54px;
  
}
  
  
.abt-desc{
    font-size: 20px;
    font-weight: 300;
  
}
  
  
.abt-boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.abt-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
  
.abt-box h1{
    color: var(--btn);
}

.abt-imagecontainer{
    flex: 1;
    width: 100%;
    height: 500px;
    position: relative;
}

.abt-img{
    object-fit: contain;
}

@media (max-width: 768px) {
    .about {
      flex-direction: column;
      text-align: center;
    }
    .abt-boxes{
        flex-direction: column;
    }
  }